html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Navbar */

.navbar {
    height: 6rem;
    font-size: 2rem;
    padding: 0 3rem;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav--link {
    text-decoration: none;
    color: gray;
}

/* Main */

.main {
    background-color: white;
    height: calc(100vh - 60px);
    padding: calc((100vh - 6rem) / 3) 0;
}

.row {
    text-align: center;
}

.col-4 {
    min-width: fit-content;
}

.main--text {
    font-size: 4rem;
    background-color: black;
    color: white;
    padding: 0 2rem;
}

.main--button {
    font-size: 2rem;
}

